<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elpoeta.menulateralslide" >

    <permission
        android:name="com.elpoeta.menulateralslide.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.elpoeta.menulateralslide.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.elpoeta.menulateralslide.MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.elpoeta.menulateralslide.MenuLateral.PerfilEquipo" >
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity android:name="com.elpoeta.menulateralslide.MenuLateral.Disponibilidad" >
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity
            android:name="com.elpoeta.menulateralslide.PaginaPrincipal.Canchas"
            android:label="@string/title_activity_canchas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity
            android:name="com.elpoeta.menulateralslide.PaginaPrincipal.Equipos"
            android:label="@string/title_activity_equipos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity
            android:name="com.elpoeta.menulateralslide.PaginaPrincipal.Ranking"
            android:label="@string/title_activity_ranking" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity android:name="com.elpoeta.menulateralslide.MenuLateral.Historial" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity android:name="com.facebook.LoginActivity"

            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.elpoeta.menulateralslide.Settings.S_Configuracion"
            android:label="@string/title_activity_s__settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />

        </activity>

        <activity
            android:name="com.elpoeta.menulateralslide.FacebookClasses.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAMGuIWMryKBCTTGHlCriX7EBPfgQ3W0eY"/>
        <!--
        Ermis Key
        AIzaSyAMGuIWMryKBCTTGHlCriX7EBPfgQ3W0eY
        -->

    </application>

</manifest>
